:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color,background-color 0.25s;

}

input.save {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color,background-color 0.25s;
  margin-top: 1rem;
}
input.save:hover {
  border-color: #646cff;
  background-color: green;
}

button:hover {
  border-color: #646cff;
  background-color: #888888;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  border: 2px solid;
  border-color: white;
  border-radius: 8px;
  width: 100%;
}
.card-content {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 500ms ease;
}

.card-content.active {
  max-height: 1000px;
 
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  text-align: left;
}

input {
  border: 1px solid white;
  border-radius: 4px;
  min-height: 1.5rem;
}

div.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.infoSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

div.sectionDivi {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h4 {
  margin: 0;
}

div.inputDivi {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button.delete {
  width: 10rem;
  align-self: center;
  background-color: darkred;
}

button.delete:hover {
  background-color: black;
}

button.addSection {
  width: 10rem;
}

p {
  margin: 0;
}
.card {
  background-color: #242424;
}

body {
  background-image: url("assets/bg_pattern_dark.svg");
  background-size: auto;
  background-repeat: repeat;
  background-color: black;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  input.save {
    background-color: #f9f9f9;
  }
  input.save:hover {
    background-color: lightgreen;
  }
  button:hover {
    background-color: lightgray;
  }
  button.delete {
    background-color: red;
  }
  button.delete:hover {
    background-color: darkred;
  }
  input {
    border: 1px solid black;
  }
  .card {
    border-color: black;
  }
  .card {
    background-color: white;
  }

  body {
    background-image: url("assets/bg_pattern.svg");
    background-size: auto;
    background-repeat: repeat;
    background-color: antiquewhite;
  }

}





@media (max-width: 450px) {
    button {
      min-height: 3rem  ;
    }
    button.delete, button.addSection {
      width: 12rem;
    }
  input.save {
    min-height: 3rem;
  }
  input {
    min-height: 2rem;
  }
}
